.fc {
    width: 100%
}

.fc-toolbar-title {
    position: absolute;
    top: .5em;
    left: 47%;
    right: 53%;
    white-space: nowrap;
    
}

.fc-daygrid-day.fc-day-today {
    background-color: #28baff38 !important;
}

.fc-daygrid-event-dot {
    border-color: #d89037;
}

.fc-event-title {
    color: black;
    font-weight: 1000 !important;
}